<section class="py-16 sm:py-20">
  <div class="container mx-auto px-4 py-8">
      <div class="grid grid-cols-1 md:grid-cols-2 gap-8">
<div class="bg-primary-400/10 shadow-lg rounded-lg overflow-hidden transform transition duration-300 hover:scale-105">
          <img src="/assets/gardien-feu-chien-noir.webp" alt="Chien noir gardien du feu - Accès aux longs-métrages documentaires de La Jetée Films" class="w-full h-48 object-cover">
          <div class="p-6">
          <h2 class="text-2xl font-bold mb-2">Longs Métrages</h2>
          <p class="text-gray-700 mb-4">Plongez dans des enquêtes sociales qui déconstruisent les mythes officiels et redonnent dignité aux expériences oubliées.</p>
          <a href="/doculongs" class="w-full md:w-auto bg-primary-600 dark:bg-primary-400 hover:bg-primary-700 dark:hover:bg-primary-300 focus-visible:outline-primary-600 dark:focus-visible:outline-primary-400 dark:text-primary-950 inline-flex items-center justify-center rounded-full border border-transparent px-5 py-3 text-base font-medium text-white transition focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2">Découvrir nos Documentaires Longs Formats</a>    
      </div>
      </div>
      
      <div class="bg-primary-400/10 shadow-lg rounded-lg overflow-hidden transform transition duration-300 hover:scale-105">
          <img src="/assets/arbre-deracine-bolivie.webp" alt="Paysage avec un arbre déraciné en Bolivie Accès aux courtsmétrages documentaires de La Jetée Films" class="w-full h-48 object-cover">
          <div class="p-6">
          <h2 class="text-2xl font-bold mb-2">Courts Métrages</h2>
          <p class="text-gray-700 mb-4">Chaque plan est un acte de résistance, documentant les histoires que le système cherche à faire taire.</p>
          <a href="/docucourts" class="w-full md:w-auto bg-primary-600 dark:bg-primary-400 hover:bg-primary-700 dark:hover:bg-primary-300 focus-visible:outline-primary-600 dark:focus-visible:outline-primary-400 dark:text-primary-950 inline-flex items-center justify-center rounded-full border border-transparent px-5 py-3 text-base font-medium text-white transition focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2">Explorer nos Récits Courts</a>    
          </div>
      </div>
      </div>
  </div>      
</section>