<section class="py-12 bg-gray-100">
    <div class="container mx-auto px-4">
      <h2 class="text-3xl font-bold text-center mb-8">Galerie de photos</h2>
      <div class="grid grid-cols-2 gap-4 md:grid-cols-3 lg:grid-cols-4">
        <div class="overflow-hidden rounded-lg shadow-lg transform transition duration-300 hover:scale-105">
            <img src="/assets/femmes-resistance-franquisme-memoire-poster.webp" alt="Descripción 13" class="w-full h-48 object-cover" />
          </div>
          <div class="overflow-hidden rounded-lg shadow-lg transform transition duration-300 hover:scale-105">
            <img src="/assets/femmes-resistance-franquisme-memoire-ombre.webp" alt="Descripción 13" class="w-full h-48 object-cover" />
          </div>
          <div class="overflow-hidden rounded-lg shadow-lg transform transition duration-300 hover:scale-105">
            <img src="/assets/femmes-resistance-franquisme-memoire-apothicaire.webp" alt="Descripción 1" class="w-full h-48 object-cover" />
          </div>
          <div class="overflow-hidden rounded-lg shadow-lg transform transition duration-300 hover:scale-105">
            <img src="/assets/femmes-resistance-franquisme-memoire-broderie.webp" alt="Descripción 2" class="w-full h-48 object-cover" />
          </div>
          <div class="overflow-hidden rounded-lg shadow-lg transform transition duration-300 hover:scale-105">
            <img src="/assets/femmes-resistance-franquisme-memoire-carmen.webp" alt="Descripción 3" class="w-full h-48 object-cover" />
          </div>
          <div class="overflow-hidden rounded-lg shadow-lg transform transition duration-300 hover:scale-105">
            <img src="/assets/femmes-resistance-franquisme-memoire-croiser.webp" alt="Descripción 4" class="w-full h-48 object-cover" />
          </div>
          <div class="overflow-hidden rounded-lg shadow-lg transform transition duration-300 hover:scale-105">
            <img src="/assets/femmes-resistance-franquisme-memoire-discours.webp" alt="Descripción 5" class="w-full h-48 object-cover" />
          </div>
          <div class="overflow-hidden rounded-lg shadow-lg transform transition duration-300 hover:scale-105">
            <img src="/assets/femmes-resistance-franquisme-memoire-espace.webp" alt="Descripción 6" class="w-full h-48 object-cover" />
          </div>
          <div class="overflow-hidden rounded-lg shadow-lg transform transition duration-300 hover:scale-105">
            <img src="/assets/femmes-resistance-franquisme-memoire-espace2.webp" alt="Descripción 7" class="w-full h-48 object-cover" />
          </div>
          <div class="overflow-hidden rounded-lg shadow-lg transform transition duration-300 hover:scale-105">
            <img src="/assets/femmes-resistance-franquisme-memoire-lit.webp" alt="Descripción 8" class="w-full h-48 object-cover" />
          </div>
          <div class="overflow-hidden rounded-lg shadow-lg transform transition duration-300 hover:scale-105">
            <img src="/assets/femmes-resistance-franquisme-memoire-machine-a-coudre.webp" alt="Descripción 9" class="w-full h-48 object-cover" />
          </div>
          <div class="overflow-hidden rounded-lg shadow-lg transform transition duration-300 hover:scale-105">
            <img src="/assets/femmes-resistance-franquisme-memoire-maria.webp" alt="Descripción 10" class="w-full h-48 object-cover" />
          </div>
          <div class="overflow-hidden rounded-lg shadow-lg transform transition duration-300 hover:scale-105">
            <img src="/assets/femmes-resistance-franquisme-memoire-marmite.webp" alt="Descripción 11" class="w-full h-48 object-cover" />
          </div>
          <div class="overflow-hidden rounded-lg shadow-lg transform transition duration-300 hover:scale-105">
            <img src="/assets/femmes-resistance-franquisme-memoire-mobile.webp" alt="Descripción 12" class="w-full h-48 object-cover" />
          </div>
        <!-- Añade más imágenes según sea necesario -->
      </div>
    </div>
  </section>

  