---
const stats = [
  {
    name: 'Années d\'Engagement',
    value: '9',
  },
  {
    name: 'Documentaristes Engagés',
    value: '15',
  },
  {
    name: 'Projets Documentaires',
    value: '7',
  },
  {
    name: 'Reconnaissance Internationale',
    value: '3',
  },
];
---

<section class="py-16 sm:py-20">
  <div class="mx-auto max-w-2xl px-4 sm:px-6 lg:max-w-7xl lg:px-8">
    <div class="grid gap-16 lg:grid-cols-2 lg:gap-24">
      <img
        class="mx-auto h-auto w-full max-w-xl rounded-3xl"
        width="576"
        height="864"
        src="/assets/panneau-fin-du-monde.webp"
        alt="incendie-roseaux-prairie"
      />
      <div class="flex flex-col gap-10">
        <!-- Mission description -->
        <div class="space-y-8 sm:space-y-12">
          <h2 class="text-3xl font-medium tracking-tight sm:text-4xl">Notre Mission</h2>
          <div class="space-y-6">
            <p class="text-primary-950/70 dark:text-primary-200/70 text-base sm:text-lg">
              Chez La Jetée Films, nous sommes plus qu'une productrice documentaire. Nous sommes des architectes de mémoire, des gardiens des voix silenciées. Notre mission est de transformer chaque récit en un acte de résistance contre l'oubli et la persécution.
            </p>
          </div>
        </div>
        <div class="space-y-8 sm:space-y-12">
          <h2 class="text-3xl font-medium tracking-tight sm:text-4xl">L'Histoire de Lidia Martín Merino</h2>
          <div class="space-y-6">
            <p class="text-primary-950/70 dark:text-primary-200/70 text-base sm:text-lg">
              Fondée par Lidia Martín Merino, cinéaste et documentariste engagée, La Jetée Films est née de la conviction profonde que chaque histoire marginalisée mérite d'être racontée. Originaire d'Espagne, Lidia a consacré sa carrière à documenter les narratives des communautés opprimées, transformant le cinéma en un outil de justice et de résilience.
            </p>
          </div>
        </div>

        <!-- Stats -->
        <dl class="grid grid-cols-1 gap-6 sm:grid-cols-2">
          {
            stats.map((stat) => (
              <div class="border-primary-900/10 dark:border-primary-300/10 rounded-3xl border p-6">
                <dt class="text-base">{stat.name}</dt>
                <dd class="text-3xl font-medium tracking-tight">{stat.value}</dd>
              </div>
            ))
          }
        </dl>
      </div>
    </div>
  </div>
</section>
