---
const stats = [
  {
    name: 'Années d\'Engagement',
    value: '9',
  },
  {
    name: 'Documentaristes Engagés',
    value: '15',
  },
  {
    name: 'Projets Documentaires',
    value: '7',
  },
  {
    name: 'Reconnaissance Internationale',
    value: '3',
  },
];
---

<section class="py-16 sm:py-20">
  <div class="mx-auto max-w-2xl px-4 sm:px-6 lg:max-w-7xl lg:px-8">
    <div class="grid gap-16 lg:grid-cols-2 lg:gap-24">
      <img
        class="mx-auto h-auto w-full max-w-xl rounded-3xl"
        width="576"
        height="864"
        src="/assets/panneau-fin-du-monde.webp"
        alt="incendie-roseaux-prairie"
      />
      <div class="flex flex-col gap-10">
        <!-- Mission description -->
        <div class="space-y-8 sm:space-y-12">
          <div class="space-y-6">
            <p class="text-primary-950/70 dark:text-primary-200/70 text-base sm:text-lg">
              À La Jetée Films le cinéma est un outil pour la mémoire, la justice sociale et la réflexion. On s’intéresse à raconter des histoires qui nous interpellent, qui nous font réfléchir et qui nous invitent agir. Le documentaire est un genre qui nous permet d’explorer la réalité d’une manière profonde et poétique.
            </p>
          </div>
        </div>
        <div class="space-y-8 sm:space-y-12">
          <h2 class="text-3xl font-medium tracking-tight sm:text-4xl">L'Histoire de Lidia Martín Merino</h2>
          <div class="space-y-6">
            <p class="text-primary-950/70 dark:text-primary-200/70 text-base sm:text-lg">
              Fondée par Lidia Martín Merino, cinéaste et documentariste .Les champs d’explorations de  La Jetée Films articulent des narrations sensibles qu’interpellent la compression devant l’absurdité du monde. La Jetée films souhaite proposer des questions, plutôt que de réponses. Faire attention à la banalisation des événements historiques du passé comme expression d'une dérive du présent.
            </p>
          </div>
        </div>

        <!-- Stats -->
        <dl class="grid grid-cols-1 gap-6 sm:grid-cols-2">
          {
            stats.map((stat) => (
              <div class="border-primary-900/10 dark:border-primary-300/10 rounded-3xl border p-6">
                <dt class="text-base">{stat.name}</dt>
                <dd class="text-3xl font-medium tracking-tight">{stat.value}</dd>
              </div>
            ))
          }
        </dl>
      </div>
    </div>
  </div>
</section>
