---
import { Image } from 'astro:assets';
import lidiaImage from '../../assets/lidia-martin-merino-directrice-documentaire.webp';
import africaImage from '../../assets/africa-bayon-scenographe.webp';
import bastianImage from '../../assets/bastian-sinse-post-production.webp';
import theoImage from '../../assets/theo-monteur-video.webp';
import juanImage from '../../assets/juan-manuel-rosas-cameraman.webp';
import eduImage from '../../assets/eduardo-argentinien-monteur-video.webp';

const teamMembers = [
{
    image: lidiaImage,
    name: "Lidia Martín Merino",
    role: "Directrice"
  },
  {
    image: bastianImage,
    name: "Bastian Sinsé",
    role: "Post-Production Audiovisuel"
  },
  {
    image: juanImage,
    name: "Juan Manuel Rosas",
    role: "Cadreur, Directeur Adjoint"
  },
  {
    image: theoImage,
    name: "Théo Heldmann",
    role: "Monteur"
  },
  {
    image: africaImage,
    name: "Africa Bayón",
    role: "Scénographe"
  },
  {
    image: eduImage,
    name: "Eduardo López, Argentina",
    role: "Monteur"
  },
];
---

<section class="py-16 sm:py-20">
  <div class="mx-auto max-w-2xl px-4 sm:px-6 lg:max-w-7xl lg:px-8">
    <div class="sm:space-8 space-y-12">
      <h2 class="text-3xl font-medium tracking-tight sm:text-4xl">Collectif La Jetée</h2>
      <ul role="list" class="grid grid-cols-1 gap-8 sm:grid-cols-2 lg:grid-cols-3">
        {
          teamMembers.map(({ name, image, role }) => (
            <li class="border-primary-900/10 dark:border-primary-300/10 rounded-3xl border px-6 py-8">
              <div class="space-y-6">
                <Image src={image} alt={name} class="mx-auto h-auto w-16 rounded-full" />
                <div class="text-center">
                  <h3 class="text-lg font-medium">{name}</h3>
                  <p class="text-primary-950/70 dark:text-primary-200/70 text-base">{role}</p>
                </div>
              </div>
            </li>
          ))
        }
      </ul>
    </div>
  </div>
</section>