---
const team = [
  {
    name: 'Lidia Martín Merino',
    image: '/assets/portrait-lidia-martin-merino-directrice-documentaire.webp',
    job: 'Senior Designer',
  },
  {
    name: 'Bastian Sinsé',
    image: '/assets/bastian-sinse-post-production.webp',
    job: 'Post-Production Audiovisuel',
  },
  {
    name: 'Juan Manuel Rosas',
    image: '/assets/juan-manuel-rosas-cameraman.webp',
    job: 'Cadreur, Directeur Adjoint',
  },
  {
    name: 'Théo J Raux',
    image: '/assets/theo-monteur-video.webp',
    job: 'Monteur',
  },
  
  {
    name: 'Africa Baón',
    image: '/assets/Africa-Bayon-Scenographe.webp',
    job: 'Scénographe',
  },
  {
    name: 'Hommage au Maître Monteur',
    image: 'https://images.pexels.com/photos/29477841/pexels-photo-29477841/free-photo-of-black-white-portrait-of-a-senior-man-in-buenos-aires.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1',
    job: 'Monteur',
  },
];
---

<section class="py-16 sm:py-20">
  <div class="mx-auto max-w-2xl px-4 sm:px-6 lg:max-w-7xl lg:px-8">
    <div class="sm:space-8 space-y-12">
      <h2 class="text-3xl font-medium tracking-tight sm:text-4xl">Collectif La Jetée</h2>
      <ul role="list" class="grid grid-cols-1 gap-8 sm:grid-cols-2 lg:grid-cols-3">
        {
          team.map((item) => (
            <li class="border-primary-900/10 dark:border-primary-300/10 rounded-3xl border px-6 py-8">
              <div class="space-y-6">
                <img class="mx-auto h-auto w-16 rounded-full" src={item.image} alt={item.name} />
                <div class="text-center">
                  <h3 class="text-lg font-medium">{item.name}</h3>
                  <p class="text-primary-950/70 dark:text-primary-200/70 text-base">{item.job}</p>
                </div>
              </div>
            </li>
          ))
        }
      </ul>
    </div>
  </div>
</section>
