---
import TeamLidiaImage from '../images/TeamLidiaImage.astro';
import TeamBastianImage from '../images/TeamBastianImage.astro';
import TeamJuanImage from '../images/TeamJuanImage.astro';
import TeamTheoImage from '../images/TeamTheoImage.astro';
import TeamAfricaImage from '../images/TeamAfricaImage.astro';
import TeamEduardoImage from '../images/TeamEduardoImage.astro';
// ... altres imports d'imatges

const team = [
  {
    name: 'Lidia Martín Merino',
    image: TeamLidiaImage,
    job: 'Directrice et Réalisatrice',
  },
  {
    name: 'Bastian Sinsé',
    image: TeamBastianImage,
    job: 'Post-Production Audiovisuel',
  },
  {
    name: 'Juan Manuel Rosas',
    image: TeamJuanImage,
    job: 'Cadreur, Directeur Adjoint',
  },
  {
    name: 'Théo Heldmann',
    image: TeamTheoImage,
    job: 'Monteur',
  },
  
  {
    name: 'Africa Bayón',
    image: TeamAfricaImage,
    job: 'Scénographe',
  },
  {
    name: 'Hommage au Maître Monteur',
    image: TeamEduardoImage,
    job: 'Monteur',
  },
];
---

<section class="py-16 sm:py-20">
  <div class="mx-auto max-w-2xl px-4 sm:px-6 lg:max-w-7xl lg:px-8">
    <div class="sm:space-8 space-y-12">
      <h2 class="text-3xl font-medium tracking-tight sm:text-4xl">Collectif La Jetée</h2>
      <ul role="list" class="grid grid-cols-1 gap-8 sm:grid-cols-2 lg:grid-cols-3">
        {
          team.map(({ name, image: TeamImage, job }) => (
            <li class="border-primary-900/10 dark:border-primary-300/10 rounded-3xl border px-6 py-8">
              <div class="space-y-6">
                <TeamImage class="mx-auto h-auto w-16 rounded-full" />
                <div class="text-center">
                  <h3 class="text-lg font-medium">{name}</h3>
                  <p class="text-primary-950/70 dark:text-primary-200/70 text-base">{job}</p>
                </div>
              </div>
            </li>
          ))
        }
      </ul>
    </div>
  </div>
</section>
