<section class="py-16 sm:py-20">
  <div class="mx-auto max-w-2xl px-4 sm:px-6 lg:max-w-7xl lg:px-8">
    <div class="grid gap-12 lg:grid-cols-2 lg:gap-8">
      <div class="flex flex-col gap-4 sm:gap-6">
        <h2 class="text-3xl font-medium tracking-tight sm:text-4xl">Collaborons ensemble</h2>
        <p class="text-primary-950/70 dark:text-primary-200/70 max-w-lg text-lg sm:text-xl">
            Nous serions ravis d'en apprendre davantage sur vous et ce que nous pouvons créer ensemble.
        </p>
      </div>
      <form action="https://api.web3forms.com/submit" method="POST" id="form" class="mt-3 flex flex-col gap-y-6" class="needs-validation" data-astro-reload novalidate>
        <input type="hidden" name="access_key" value="5f20568f-7d1a-45ff-b010-226a1b87874e" />
        
        <!-- Nom input -->
        <div>
          <label for="name" class="sr-only">Nom</label>
          <input
            type="text"
            name="name"
            id="name"
            autocomplete="name"
            class="hover:ring-primary-600 focus:ring-primary-600 dark:hover:ring-primary-400 dark:focus:ring-primary-400 bg-primary-50 dark:bg-primary-950 ring-primary-900/40 dark:ring-primary-200/40 placeholder:text-primary-950/60 dark:placeholder:text-primary-200/60 block w-full appearance-none rounded-md border-0 px-4 py-4 text-base ring-1 transition focus:outline-none focus:ring-2"
            placeholder="Nom complet"
          />
        </div>
        
        <!-- Projet input -->
        <div>
          <label for="project" class="sr-only">Projet</label>
          <select
            name="project"
            id="project"
            class="hover:ring-primary-600 focus:ring-primary-600 dark:hover:ring-primary-400 dark:focus:ring-primary-400 bg-primary-50 dark:bg-primary-950 ring-primary-900/40 dark:ring-primary-200/40 block w-full appearance-none rounded-md border-0 px-4 py-4 text-base ring-1 transition focus:outline-none focus:ring-2"
          >
            <option value="" disabled selected>Sélectionnez le type de projet</option>
            <option value="below-500">Documentaire Social</option>
            <option value="500-1000">Documentaire Historique</option>
            <option value="1000-5000">Documentaire Culturel</option>
            <option value="5000-10000">Installation Multimédia</option>
            <option value="above-10000">Autre Projet</option>
          </select>
        </div>

        <!-- Email input -->
        <div>
          <label for="email" class="sr-only">Adresse électronique</label>
          <input
            type="email"
            name="email"
            id="email"
            autocomplete="email"
            class="hover:ring-primary-600 focus:ring-primary-600 dark:hover:ring-primary-400 dark:focus:ring-primary-400 bg-primary-50 dark:bg-primary-950 ring-primary-900/40 dark:ring-primary-200/40 placeholder:text-primary-950/60 dark:placeholder:text-primary-200/60 block w-full appearance-none rounded-md border-0 px-4 py-4 text-base ring-1 transition focus:outline-none focus:ring-2"
            placeholder="Adresse électronique"
          />
        </div>

        <!-- Message textarea -->
        <div>
          <label for="message" class="sr-only">Message</label>
          <textarea
            name="message"
            id="message"
            rows="3"
            class="hover:ring-primary-600 focus:ring-primary-600 dark:hover:ring-primary-400 dark:focus:ring-primary-400 bg-primary-50 dark:bg-primary-950 ring-primary-900/40 dark:ring-primary-200/40 placeholder:text-primary-950/60 dark:placeholder:text-primary-200/60 block w-full appearance-none rounded-md border-0 px-4 py-4 text-base ring-1 transition focus:outline-none focus:ring-2"
            placeholder="Message"></textarea>
        </div>
        
        <style>
          .privacy-link {
            text-decoration: underline;
            color: blue;
            font-weight: bold;
          }
        
          .privacy-link:hover {
            color: darkblue;
          }
        </style>
        
        <label>
          <input type="checkbox" id="privacyCheckbox" />
          J'ai lu et j'accepte la{' '}
          <a href="/confidentialite/" target="_blank" rel="noopener noreferrer" class="privacy-link">
            Politique de Confidentialité
          </a>
        </label>

        <div>
          <button
            class="bg-primary-600 dark:bg-primary-400 hover:bg-primary-700 dark:hover:bg-primary-300 focus-visible:outline-primary-600 dark:focus-visible:outline-primary-400 dark:text-primary-950 inline-flex items-center justify-center rounded-full border border-transparent px-5 py-3 text-base font-medium text-white transition focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2"
            type="submit"
          >
          Envoyer la Demande
          </button>
        </div>
      </form>
    </div>
  </div>
</section>